---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">Certificate earned in {{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <h1>Basic Information</h1>
    <ul>
      <li>Description: {{page.description}} </li>
      <li>Coursera Cerficiation: <a href="https://coursera.org/verify/{{page.certid}}">https://coursera.org/verify/{{page.certid}}</a> </li>
      <li>GitHub Page: <a href="https://github.com/AlekseyyyCGP/{{page.projectid}}">https://github.com/AlekseyyyCGP/{{page.projectid}}</a></li>
    </ul>

    <h1>Documentation and Discussion</h1>
    {{ content }}
  </div>

</article>
